# Set update schedule for GitHub Actions

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/.github/workflows/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"

