name: Security audit

on:  
  push:
    paths:
    - '**/Cargo.toml'
    - '**/Cargo.lock'
    - 'pallets/**/Cargo.toml'
    - 'pallets/**/Cargo.lock'

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/audit-check@issue-104
        with:
          token: ${{ secrets.GITHUB_TOKEN }}